@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&family=Raleway:wght@100&display=swap');

body{
    background-color: #30343F;
}

p{
    color: #eeeeee;
}

#headings{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
}

#subheadings
{
    font-family: 'Raleway', sans-serif;
    font-size: xx-large;
}

#button-custom
{
    background-color: #eeeeee;
    color: #30343F;
    font-size: large;
}